@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    
            <form action="@Url.Action("Index")" method="POST" class="col-12 col-md-4">

                <h5 class="text-light my-1 p-3">登入</h5>
                <div class="input-group col-xs-8 col-md-10" >
                    <input type="text" name="loginAccount" placeholder="請輸入email帳號" required class="form-control ">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                </div>

                <div class="input-group col-xs-8 col-md-10">
                    <input type="password" name="loginPassword" placeholder="請輸入密碼" required class="form-control">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                </div>

                <a href="/Home/ForgetPWD" class="btn-link" style="text-decoration:none;">忘記密碼</a>
                <hr class="text-light" />
                <input type="submit" value="登入" class="btn btn-default">
                @*<input type="submit" value="註冊" class="tomatobtn">*@

                <a href="/Home/register" class="btn btn-default">註冊</a>

                <p class="text-danger">@ViewBag.Err</p>

            </form>
       
   
</div>





